/* http://meyerweb.com/eric/tools/css/reset/
   v2.0 | 20110126
   License: none (public domain)
*/

html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}
body {
  font-family: Arial, Helvetica, sans-serif;
  line-height: 1;
  background: #f7f7f7;
}
ol,
ul {
  list-style: none;
}
blockquote,
q {
  quotes: none;
}
blockquote:before,
blockquote:after,
q:before,
q:after {
  content: "";
  content: none;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}

input,
select,
textarea,
button {
  margin: 0.5em 0;
  font: inherit;
  border-radius: 3px;
  border: solid 1px #ededed;
  background: #fff;
}

input,
select,
button {
  padding: 0 0.5em;
  height: 2em;
}

button {
  cursor: pointer;
  background: teal;
  border: 0;
  color: #fff;
}

pre {
  margin: 1em auto;
  padding: 1em;
  background: #333;
  color: #bbb;
  border-radius: 3px;
  font-family: "Courier New", Courier, monospace;
  font-size: 0.875em;
  line-height: 1.5;
}

.FormWrapper {
  margin: 3em auto;
  width: 94%;
  max-width: 640px;
  border-radius: 5px;
  background: #fff;
  box-shadow: 2px 2px 7px rgba(0, 0, 0, 0.07);
}

.FormWrapper > header {
  padding: 0.75em 1em;
  font-size: 1.5em;
  border-bottom: solid 1px #ededed;
}

.FormWrapper > section {
  padding: 1em;
}

.Toggle {
  display: inline-block;
  position: relative;
  width: 2em;
  height: 1em;
  background: red;
  border-radius: 10em;
  cursor: pointer;
  font-size: 1.75em;
}

.Toggle.isActive {
  background: green;
}

.Toggle:before {
  display: block;
  content: "";
  position: absolute;
  top: 0.1em;
  left: 0.1em;
  width: 0.8em;
  height: 0.8em;
  border-radius: 50%;
  background: #fff;
}

.Toggle.isActive:before {
  left: auto;
  right: 0.1em;
}

.Radios {
  display: flex;
  justify-content: space-between;
}

.Radios .Radio {
  width: 100%;
}

.Radio {
  display: block;
  margin: 1em;
  padding: 1em;
  text-align: center;
  border-radius: 10em;
  border: solid 2px #333;
  cursor: pointer;
}

.Radio.isActive {
  background: #333;
  color: #fff;
}
